.main-container {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 600px;
}

.welcome-msg {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

.btn-primary {
  margin-top: 50px;
}

.quiz-section {
  margin-left: 50px;
}

.quiz-question {
  margin-top: 50px;
}

.quiz-answers {
  margin-top: 50px;
}

.checkbox {
  margin-right: 5px;
}
