<form class="form" role="form">
  <h3 class="msg">Statisztika</h3>
  <div class="form-group row">
    <label for="inputQuestionNumber" class="col-lg-3 control-label">Kérdések száma:</label>
    <div class="col-lg-8">
      <input class="form-control" type="text" value="8" id="inputQuestionNumber">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRightAnswers" class="col-lg-3 control-label">Helyes válaszok száma:</label>
    <div class="col-lg-8">
      <input class="form-control" type="text" value="5" id="inputRightAnswers">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAllAnswers" class="col-lg-3 control-label">Össz válaszok száma:</label>
    <div class="col-lg-8">
      <input class="form-control" type="text" value="8" id="inputAllAnswers">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPercent" class="col-md-3 control-label">Százalék (elérendő: 80%):</label>
    <div class="col-md-8">
      <input class="form-control" type="text" value="78%" id="inputPercent">
    </div>
  </div>
</form>
