.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccccff;
  z-index: 3;
}

.header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.welcome p {
  text-align: right;
}

.nav-link {
  font-size: 20px;
}

.profile {
  font-size: 16px;
}

.nav-link:visited {
  color: black;
  text-decoration: none;
}

.nav-link:hover, #dropdownBasic1:hover, #dropdownBasic2:hover {
  color: #777777;
  text-decoration: none;
}

#dropdownBasic1, #dropdownBasic2 {
  color: black;
}
