.header-container {
  width: 100%;
  height: 100px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccccff;
  z-index: 3;
}

.header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.welcome p {
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}
