<app-header></app-header>
<div class="container main-container">
  <h1 class="welcome-msg">Profil szerkesztése</h1>
  <div class="col-md-9">
    <h3 class="pb-4">Személyes adatok</h3>
    <form>
      <div class="form-group row">
        <label for="inputName" class="col-lg-3 control-label">Teljes név:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value="Teszt Elek" id="inputName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-lg-3 control-label">Email cím:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value="tesztelek@gmail.com" id="inputEmail">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPhoneNumber" class="col-lg-3 control-label">Telefonszám:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" value="123456789" id="inputPhoneNumber">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8 pb-3">
          <input type="button" class="btn btn-primary mr-2" value="Módosítások mentése">
          <input type="reset" class="btn btn-secondary" value="Mégsem">
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>
