<app-header></app-header>
<div class="container main-container">
  <h1 class="welcome-msg">Profil szerkesztése</h1>
  <div>
    <div class="row">
      <div class="col-md-9 personal-info">
        <h3>Személyes adatok</h3>
        <form class="form-horizontal form" role="form">
          <div class="form-group">
            <label for="inputName" class="col-lg-3 control-label">Teljes név:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Teszt Elek" id="inputName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-3 control-label">Email cím:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="tesztelek@gmail.com" id="inputEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPhoneNumber" class="col-lg-3 control-label">Telefonszám:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="123456789" id="inputPhoneNumber">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-md-3 control-label">Új jelszó:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" id="inputPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="inputConfirmEmail" class="col-md-3 control-label">Jelszó újra:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" id="inputConfirmEmail">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Módosítások mentése">
              <input type="reset" class="btn btn-secondary" value="Mégsem">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>
