.main-container {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome-msg {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

.form {
  margin-left: 40px;
}

.btn-primary {
  margin-right: 10px;
}
