<app-header></app-header>
<div class="container main-container">
  <h2 class="welcome-msg">Új kvízkérdés létrehozása</h2>
  <form>
    <!--    <div class="alert alert-success" role="alert" *ngIf="textShow">-->
    <!--      Kvízkérdés sikeresen létrehozva-->
    <!--    </div>-->
    <div class="form-group row">
      <label for="inputQuestionType" class="col-sm-2 col-form-label">Kérdés típusa</label>
      <div class="col-sm-10">
        <select class="form-control" id="inputQuestionType" name="type"
                [(ngModel)]="question.possibleAnswers[0].type">
          <option value="default" selected disabled>Válassz...</option>
          <option value="shortText">Rövid szöveg</option>
          <option value="longText">Hosszú szüveg</option>
          <option value="dropdown">Legördülő</option>
          <option value="radioButtons">Radio gombok</option>
          <option value="trueFalseCheckbox">Igaz/hamis checkbox</option>
          <option value="checkboxList">Checkbox lista</option>
        </select>
      </div>
    </div>
    <div *ngIf="question.possibleAnswers[0].type === 'checkboxList'">
      <app-checkbox-list-question></app-checkbox-list-question>
    </div>
  </form>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>

