* {
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome-msg {
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

.quiz-question {
  width: 800px;
}

ol {
  margin-top: 20px;
  padding-bottom: 30px;
}

.quiz-question-list, .quiz-list {
  margin-top: 20px;
  margin-left: 30px;
}

.quiz-list {
  margin-right: 150px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.col2 {
  background-color: lightgray;
}

.fa-arrow-left {
  float: left;
  font-size: 20px;
  margin-top: 20px;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #777777;
  text-decoration: none;
}


