<app-header></app-header>
<div class="container main-container">
  <h1 class="welcome-msg">kvízek létrehozása</h1>
  <div class="row">
    <div class="column col1">
      <div class="quiz-question-list">
        <button class="btn btn-primary" (click)="getNewQuizQuestion()">Új kvízkérdés létrehozása</button>
        <ol>
          <li>Itt lesz a kvízkérdések listája</li>
        </ol>
      </div>
    </div>
    <div class="column col2">
      <div class="quiz-list">
        <button class="btn btn-primary">Új örökkvíz létrehozása</button>
        <ol>
          <li>Itt lesz az örökkvízek listája</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>
