<form (submit)="submit()" [formGroup]="form">
  <div class="modal-header">
    <h4 class="modal-title">Kérdés módosítása</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="form-group">
    <label for="inputText">Kérdés szövege</label>
    <div>
      <textarea name="text" id="inputText" cols="50" rows="5">
      </textarea>

    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription">Megjegyzés</label>
    <div>
      <textarea name="description" id="inputDescription" cols="50" rows="2"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputTextBefore">Szöveg előtte</label>
    <div>
      <input type="text" class="form-control" id="inputTextBefore" name="textBefore">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAnswer">Válaszok</label>
    <div>
      <div class="input-group mb-3">
        <textarea id="inputAnswer" name="answer" cols="50" aria-label="Text input with checkbox"></textarea>
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input class="ml-2" type="checkbox" name="isRightAnswer"
                   aria-label="Checkbox for following text input">
          </div>
        </div>
      </div>
      <button class="btn btn-danger mb-4"></button>
    </div>
    <div class="col-sm-2 col-form-label"></div>
    <div class="col-sm-10">
      <button class="btn btn-outline-success">
        Új válaszlehetőség hozzáadása
      </button>
    </div>
  </div>
  <div class="form-group">
    <label for="inputFeedbackType">Visszajelzés típusa</label>
    <div>
      <select class="form-control" id="inputFeedbackType" name="feedbackType">
        <option value="default" selected disabled>Válassz...</option>
        <option value="noFeedback">Nincs visszajelzés</option>
        <option value="trueFalseFeedback">Helyes/helytelen válasz</option>
        <option value="showRightAnswer">Jó válasz megmutatása</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputExplain">Magyarázat</label>
    <div>
        <textarea class="form-control" id="inputExplain" placeholder="Magyarázat" rows="2" cols="50" name="explanation">
        </textarea>
    </div>
  </div>
  <div class="form-group">
    <div>
      <button type='submit' class="btn btn-primary mb-4">Módosítás</button>
    </div>
  </div>
</form>

