<form>
  <h2 class="welcome-msg">Kvízkérdés módosítása</h2>
  <div class="form-group row">
    <label for="inputQuestionType" class="col-sm-2 col-form-label">Kérdés típusa</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputQuestionType">
        <option selected disabled>Válassz...</option>
        <option>Felelet választós</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Kérdés szövege</label>
    <div class="col-sm-10">
      <pre [froalaEditor]="options"><code></code></pre>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-sm-2 pt-0">Kép (opcionális)</div>
    <div class="col-sm-10">
      <img src="/assets/img/empty.jpg" alt="" class="question-picture">
      <div>
        <button class="btn btn-primary mt-2">Kép feltöltése</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Válaszok</div>
    <div class="col-sm-10">
      <div class="answers">
        <!--    answers add dinamically    -->
      </div>
      <div class="add-new-answer">
        <i class="far fa-plus-square mr-2" (click)="generateNewAnswer()"></i>
        <label>Új válaszlehetőség hozzáadása</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTimeLimit" class="col-sm-2 col-form-label">Időlimit (opcionális)</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="időlimit" aria-label="Recipient's username"
               aria-describedby="basic-addon2" id="inputTimeLimit">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">perc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputFeedbackType" class="col-sm-2 col-form-label">Visszajelzés típusa</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputFeedbackType">
        <option selected disabled>Válassz...</option>
        <option>Nincs visszajelzés</option>
        <option>Helyes válasz</option>
        <option>Helytelen válasz</option>
        <option>Helyes válasz megmutatása</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputExplain" class="col-sm-2 col-form-label">Magyarázat</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputExplain" placeholder="Magyarázat" rows="5" cols="10"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 mb-4">
      <button type="submit" class="btn btn-primary mr-2">Kvízkérdés módosítás</button>
      <button type="submit" class="btn btn-secondary">Mégsem</button>
    </div>
  </div>
</form>
