<div class="container main-container">
  <h1 class="welcome-msg">regisztráció befejezése</h1>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Regisztráció</h5>
          <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input type="text" formControlName="token" id="inputToken" class="form-control" name="token"
                     placeholder="Token" required autofocus
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Token kötelező</div>
              </div>
              <label for="inputToken">Token</label>
            </div>
            <div class="form-label-group">
              <input type="password" formControlName="password" id="inputPassword" class="form-control" name="password"
                     placeholder="Jelszó" required
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Jelszó megadása kötelező</div>
                <div *ngIf="f.password.errors.minlength">A jelszónak legalább 6 karakternek kell lennie</div>
              </div>
              <label for="inputPassword">Jelszó</label>
            </div>
            <div class="form-label-group">
              <input type="text" formControlName="birthDate" id="inputBirthDate" class="form-control" name="birthDate"
                     placeholder="Születési dátum" required>
              <label for="inputBirthDate">Születési dátum</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Regisztráció</button>
            <div *ngIf="error" class="alert alert-danger">Hibás felhasználó név vagy jelszó vagy nincs megerősítva az email.</div>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>
