<app-header></app-header>
<div class="container main-container">
  <h1 class="welcome-msg">Jelszó megváltoztatása</h1>
  <div class="alert alert-success" role="alert" *ngIf="textShow">
    Jelszó sikeresen megváltoztatva
  </div>
  <div class="col-md-9">
    <h3 class="pb-4">Új jelszó</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputLoginName" class="col-lg-3 control-label">Felhasználó név:</label>
        <div class="col-lg-8">
          <input type='text' formControlName="name" id="inputLoginName" class="form-control"
                 placeholder="Felhasználó név" required
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Név megadása kötelező</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOldPassword" class="col-lg-3 control-label">Régi jelszó:</label>
        <div class="col-lg-8">
          <input type='password' id="inputOldPassword" class="form-control" placeholder="Régi jelszó"
                 formControlName="password" required
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Régi jelszó megadása kötelező</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNewPassword" class="col-lg-3 control-label">Új jelszó:</label>
        <div class="col-lg-8">
          <input type='password' id="inputNewPassword" class="form-control" placeholder="Új jelszó"
                 formControlName="newPassword" required
                 [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Új jelszó megadása kötelező</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <button class="btn btn-primary mb-3" type="submit" (click)="onSubmit()">Mentés</button>
      </div>
    </form>
  </div>
  <div class="container">
    <p class="lead"></p>
    <p class="lead mb-0"></p>
  </div>
</div>

